.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error button {
color: #ffffff;
background: #3d5af1;
border: none;
border-radius: 5px;
font-size: 1rem;
padding: 16px 64px;
cursor: pointer;
}